
@using SAW.Model.ViewModel
@model List<VMMailDetail>
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Panel/Views/Shared/_LayoutMail.cshtml";
}

<!-- BEGIN PAGE CONTENT -->
<div class="page-content page-app mailbox">
    <section class="app">
        <div class="email-details">
            @foreach (var mail in Model)
            {
            <section>
                    <a class="btn btn-xs btn-dark" href="/Panel/Mail/Inbox"><i class="fa fa-arrow-circle-left"></i> Back To List</a>
                <div class="email-subject">
                    <h1>@mail.Subject</h1>
                    <div class="clearfix">
                        <div class="go-back-list"><i data-rel="tooltip" data-placement="bottom" data-original-title="Back to email list" class="icon-arrow-left"></i></div>
                        <p>from <strong><span class="sender">@mail.SenderFirstName @mail.SenderLastName</span></strong> &bull; <span class="date">@mail.CreateDate</span></p>
                        <div class="pos-rel pull-left">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" data-delay="300">
                                <i class=" icon-rounded-arrow-down-thin"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="reorder-menu" onclick="deleteMail(@mail.MailId)">Delete email</a></li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="email-details-inner withScroll" data-height="window" data-padding="155">
                    <div class="email-content">
                        <p>@mail.Body</p>
                    </div>

                    @if (mail.ChildMails.Count() != 0)
                    {
                        int childMailId = 0;
                        foreach (var childMail in mail.ChildMails)
                        {
                            <hr />
                            <div class="email-content">
                                <p>
                                    from <strong><span class="sender">@childMail.SenderFirstName @childMail.SenderLastName</span></strong> &bull; <span class="date">@childMail.CreateDate</span>
                                    <button class="btn btn-danger btn-xs" onclick="deleteMail(@childMail.MailId)">Delete</button>

                                </p>
                                <p>
                                    @childMail.Body
                                </p>
                            </div>
                            childMailId = childMail.MailId;
                        }
                        <div class="write-answer">
                            <hr />
                            <h2>Reply to Mail</h2>
                            @using (Html.BeginForm("SendAnswerEmail", "Mail", FormMethod.Post))
                            {
                                <input type="hidden" value="@childMailId" name="mailId" />
                                <div class="m-t-10">
                                    <textarea class="form-control form-white" name="body" rows="15" placeholder="Your message" autofocus></textarea>
                                </div>
                                <div class="write-answer m-t-10">
                                    <input class="btn btn-primary" type="submit" value="Send" />
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="write-answer">
                            <hr />
                            <h2>Reply to Mail</h2>
                            @using (Html.BeginForm("SendAnswerEmail", "Mail", FormMethod.Post))
                            {
                                <input type="hidden" value="@mail.MailId" name="mailId" />
                                <div class="m-t-10">
                                    <textarea class="form-control form-white" name="body" rows="15" placeholder="Your message" autofocus></textarea>
                                </div>
                                <div class="write-answer m-t-10">
                                    <input class="btn btn-primary" type="submit" value="Send" />
                                </div>
                            }
                        </div>
                    }

                </div>

            </section>
            }
        </div>
    </section>
</div>
<!-- END PAGE CONTENT -->

<script>
    function deleteMail(mailId) {
        if (confirm("Are you sure you want to delete this mail?")) {
            $.ajax({
                url: "/Panel/Mail/Delete",
                type: "POST",
                data: { id: mailId },
                success: function (data) {
                    if (data.success) {
                        alert(data.message);
                        window.location.href = "/Panel/Mail/Inbox"
                    }
                    else
                        $("#postResult").addClass("alert-danger").append(data.message).show();
                }
            });
        }
    };
</script>


